#canvas {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: url("/images/1527735.png"), default;
}

#scoreboard {
  text-align: center;
  border: 1px solid black;
  font-size: 25px;
  background-color: gray;
}

#new-game-button {
  background-color: #af4c6f;
  border-radius: 10px;
  color: white;
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  font-size: 16px;
  cursor: pointer;
}

body {
  background-image: url(./images/Wallpaper-Republic-WoodlandBirds-1.jpg.optimal.jpg);
}