#canvas {
  width: 1000px;
  height: 500px;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: url("/images/1527735.png"), default;
}

#scoreboard {
  text-align: center;
  border: 1px solid black;
  font-size: 25px;
}

#new-game-button {
  background-color: #af4c6f;
  border: none;
  border-radius: 10px;
  color: white;
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  float: right;
  font-size: 16px;
  cursor: pointer;
}